
/* BASE ***********************************************************/

body{
	background: url($background-image-path) no-repeat top left;
	@include background-size(cover);
}
ul{
	list-style-type: none;
	padding:0;
}

h3{
	color: $theme-blue;
}
p{
	margin-top: 10px;
}
footer{
	background-color: $theme-black;
	padding:1.5%;
	font-size:$font-size-small;
	font-weight:bold;
	color: $theme-gray;

}
footer ul{
	padding: 0px;
	list-style-type: none;
}
footer a{
	font-weight: bold;
	color: $theme-gray;
}
footer a:hover{
	color: $theme-white;
}
footer h5{
	text-transform: uppercase;
	font-weight:bold;
	color: $theme-white;
}

/* LAYOUTS  *****************************************************/

.col-md-2-4{
  	@include make-md-column(2.4,15px);
  	border-left: solid 1px;
}
.col-md-6-gap{

	@include make-md-column(6,10px);
}

/* MODULES ******************************************************/

.logo{
	background:url($logo-image-path) no-repeat 0 0 transparent;
	width: 103px;
	height: 98px;
	text-indent: -9999px;
	
}
#intra a{
	text-decoration: underline;
	text-transform: uppercase;
	font-size: $font-size-small;
	color: $gray-light;
}
#top-helpers{
	ul li{
		margin: 10px 20px 10px 0;
	}
	
	a{
		font-size: $font-size-small;
		text-transform: uppercase;
	}
}
.search-field{
	@include form-control-focus($theme-green);
	background-color: $theme-gray-light;
	color: $theme-green;
}
.top-navi{
	@extend .nav;
	text-transform: uppercase;

	a{
		color:$top-navi;
	}
}
.menu-responsive{
	@extend .navbar-toggle;
	
	.icon-bar{
		background-color: $theme-green;
	}
}
.carousel{
	font-family: $font-title-carousel;
	
	.carousel-caption{
		top: 10px;
		left:10%;
		text-align: left;
		text-shadow: none;
		
		p{
			font-size: $font-size-large; 
		}
	}
	.carousel-indicators{
		top:10px;
		left:32%;
		width:20%;
	}
}

.news{
	background-color:$news-frontpage;
	padding: 10px;
	
	a{
		color:#454545;
	}
}
.events{
	background-color:$events-frontpage;
	padding: 10px;
	
	a{
		color: #454545;
	}
}


.month, .year{
	padding: 2px 10px;
	color: #fff;
}
.month{
	background-color: $theme-gray;
}
.year{
	background-color: $theme-blue;

}
#linkedin a{
	background: url($linkedin-icon) no-repeat 0 0;
	display: block;
	width: 68px;
	height:80px;
	text-indent: -9999px;
}

// Search field text color

.form-control::-webkit-input-placeholder { color: $theme-green; }
.form-control:-moz-placeholder           { color: $theme-green; }
 
.form-control::-moz-placeholder          { color: $theme-green; }
 
.form-control:-ms-input-placeholder      { color: $theme-green; } 


/* UTILITIES ************************************************/ 

.white{
	background-color: #fff;
}
.padding-none{
	padding:0;
}
.margin-none{
	margin:0;
}
.border-none{
	border:none;
}
.spacer{
	padding-bottom:40px;
}

/* RESPONSIVENESS *********************************************/


@media screen and (max-width: 768px) {

	.carousel-caption h1{
		font-size: 2.2em;
	}
	.carousel-caption p{
		font-size: 1.3em;
	}
	.row{
		margin:0;
	}
}




